{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<ul>
  {% for pet in pets %}
    {% if pet.available %}

    <li><img src="{{pet.photo_url}}" alt="pet-pic" width="100px">
      {{ pet.name }} is <b>available</b>
      <button><a href='/{{pet.id}}'>See the pet!</a></button></li>

    {% else %}

    <li><img src="{{pet.photo_url}}" alt="pet-pic" width="100px">
      {{ pet.name }} is not available </li>

    {% endif %}
  {% endfor %}


<br>

<button><a href="/add">Add a pet!</a></button>

</ul>

{% endblock %}